.booking {
    z-index: 11;
    right: 50px;
    top: 125px;
    position: absolute;
    width: 700px;
    height: 500px;
    background-color: white;
    padding: 10px 15px;
    box-sizing: border-box;
    box-shadow: 10px 10px 15px 1px rgb(112, 112, 112);
    h1 {
        font-size: $font-Xlrg;
        line-height: 1.25em;
    }
    .midPart {
        display: grid;
        grid-auto-flow: column;
        margin-top: 30px;
        .service-part {
            margin: 20px 0;
            h4 {
                font-size: 18px;
                line-height: 1.25em;
                letter-spacing: .15rem;
            }
            .selectBox {
                margin-top: 10px;
                width: 275px;
                display: flex;
                flex-direction: column;
                position: relative;
                .selected {
                    order: 0;
                    margin-bottom: 8px;
                    border-bottom: 1px solid black;
                    padding: 5px 5px;
                    border: none;
                    border-bottom: 1px solid black;
                    outline: none;
                    color: rgb(46, 46, 46);
                    background: transparent;
                    box-sizing: border-box;
                    position: relative;
                    width: 100%;
                    cursor: pointer;
                    &::after {
                        content: "";
                        background: url("../resources/svg/iconmonstr-arrow-65.svg");
                        background-size: contain;
                        background-repeat: no-repeat;
                        position: absolute;
                        height: 70%;
                        width: 32px;
                        right: 0px;
                        top: 3px;
                        transition: all 0.4s;
                    }
                }
                .selectBox__container {
                    z-index: 100;
                    box-shadow: 0 0px 10px gray;
                    position: absolute;
                    top: 35px;
                    background: white;
                    width: 300px;
                    order: 1;
                    max-height: 0;
                    width: 100%;
                    opacity: 0;
                    transition: all 0.4s;
                    border-radius: 8px;
                    overflow: hidden;
                    &-active {
                        max-height: 240px;
                        opacity: 1;
                        overflow-y: scroll;
                    }
                    &::-webkit-scrollbar {
                        width: 8px;
                        background-color: white;
                        border-radius: 0 8px 8px 0;
                    }
                    &::-webkit-scrollbar-thumb {
                        background-color: $pinkBG1;
                        border-radius: 12px;
                    }
                    .selectBox__options {
                        padding: 12px 24px;
                        cursor: pointer;
                        label {
                            cursor: pointer;
                        }
                        input[type="radio"] {
                            display: none;
                        }
                        &:hover {
                            background-color: $pink2;
                            color: whitesmoke;
                        }
                    }
                }
                .selectBox__container.selectBox__container-active+.selected::after {
                    transform: rotateX(180deg);
                }
            }
        }
        .patientId-part {
            margin: 15px 0;
            width: 275px;
            h4 {
                font-size: 18px;
                line-height: 1.25em;
                letter-spacing: .15rem;
            }
            input {
                height: 45px;
                letter-spacing: 1px;
                padding: 2px 7px;
                width: inherit;
                font-size: 18px;
                font-weight: normal;
                border: none;
                border-bottom: 1px solid black;
                outline: none;
                color: rgb(46, 46, 46);
                background: transparent;
                box-sizing: border-box;
                margin-bottom: 15px;
            }
            div {
                opacity: 0;
                font-family: $font-style-txt;
                transition: all 0.25s ease-in-out;
                a:hover {
                    font-size: 22px;
                    transition: all 0.15s ease-in-out;
                    text-decoration: underline;
                }
            }
            input:focus~div {
                opacity: 1;
            }
        }
        .amount-part {
            margin: 15px 0;
            width: 275px;
            h4 {
                font-size: 18px;
                line-height: 1.25em;
                letter-spacing: .15rem;
            }
            input {
                height: 45px;
                letter-spacing: 1px;
                padding: 2px 7px;
                width: inherit;
                font-size: 18px;
                font-weight: normal;
                border: none;
                border-bottom: 1px solid black;
                outline: none;
                color: rgb(46, 46, 46);
                background: transparent;
                box-sizing: border-box;
                margin-bottom: 15px;
                pointer-events: none;
            }
            div {
                opacity: 0;
                font-family: $font-style-txt;
                transition: all 0.25s ease-in-out;
            }
            input:focus~div {
                opacity: 1;
            }
        }
        .date-part {
            margin: 15px 0;
            margin-bottom: 20px;
            width: 275px;
            h4 {
                font-size: 18px;
                line-height: 1.25em;
                letter-spacing: .15rem;
            }
            .dateChooser {
                margin-top: 12px;
                padding: 2px 5px;
                border: none;
                border-bottom: 1px solid black;
                outline: none;
                color: rgb(46, 46, 46);
                background: transparent;
                box-sizing: border-box;
                position: relative;
                width: 100%;
                cursor: pointer;
                &::after {
                    content: "";
                    background: url("../resources/svg/iconmonstr-calendar-4.svg");
                    background-size: contain;
                    background-repeat: no-repeat;
                    position: absolute;
                    height: 70%;
                    width: 32px;
                    right: 0px;
                    top: 3px;
                    transition: all 0.4s;
                }
            }
            .calendarModal {
                display: none;
                position: fixed;
                z-index: 1;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                overflow: auto;
                background-color: rgba(0, 0, 0, 0.150);
                align-items: center;
                z-index: 51;
                transition: all 1s ease-in-out;
                .calendarDatePicker {
                    position: fixed;
                    width: 600px;
                    height: 480px;
                    left: 50%;
                    top: 55%;
                    transform: translate(-50%, -50%);
                    margin: auto;
                    background-color: white;
                    // box-shadow: 0 10px 10px 0 rgba(255, 255, 255);
                    z-index: 51;
                    transition: all 1s ease-in-out;
                }
            }
        }
        .time-part {
            opacity: 0;
            margin: 15px 0;
            width: 275px;
            h4 {
                font-size: 18px;
                line-height: 1.25em;
                letter-spacing: .15rem;
            }
            input {
                height: 45px;
                letter-spacing: 1px;
                padding: 2px 7px;
                width: inherit;
                font-size: 18px;
                font-weight: normal;
                border: none;
                border-bottom: 1px solid black;
                outline: none;
                color: rgb(46, 46, 46);
                background: transparent;
                box-sizing: border-box;
                margin-bottom: 15px;
                pointer-events: none;
            }
        }
    }
}

.bottomPart {
    width: 100%;
    height: fit-content;
    position: relative;
    box-sizing: border-box;
    padding: 10px 25px;
    .leftPart {
        margin-left: 30px;
        a {
            text-decoration: underline;
        }
    }
    #btnSetAppointment {
        letter-spacing: 0.225rem;
        position: absolute;
        bottom: 10px;
        right: 25px;
        background-color: $pinkBG1;
        color: white;
        padding: 15px;
        width: 275px;
        font-family: $font-style-header;
        border: none;
        cursor: pointer;
        transition: all 0.5s ease-in-out;
        &:hover {
            border-radius: 50px;
            transform: scale(1.125);
        }
    }
}