.footer {
    background-color: $pinkBG1;
    background-image: linear-gradient(to right top, #bf2441, #cb354f, #d8435c, #e4516b, #f05f79);
    width: 100%;
    height: auto;
    font-size: $font-sm;
    &__cont {
        max-width: 2500px;
    }
    a,
    p,
    h3 {
        color: white;
        text-decoration: none;
    }
    h3 {
        font-size: $font-med;
        margin-bottom: 15px;
        letter-spacing: 0.125rem;
    }
    &__cont {
        width: 80%;
        display: flex;
        display: grid;
        grid-auto-flow: column;
        align-content: center;
        padding: 25px 0;
    }
    &__quickLinks {
        line-height: 1.75em;
        .links:hover {
            transition: all .5s ease-in-out;
            text-decoration: underline;
        }
    }
    &__services {
        width: fit-content;
        line-height: 1.5em;
        font-size: 12px;
    }
    &__image {
        padding-top: 50px;
        align-items: center;
        display: grid;
        grid-auto-flow: row;
        img {
            width: 300px;
            height: 100px;
            background-color: white;
            border-radius: 25px;
        }
    }
    &__contact {
        h3 {
            text-indent: 25px;
        }
        .contactCont {
            line-height: 1.75em;
            // border: .5px solid white;
            height: 25px;
            padding-left: 45px;
            padding-top: 2px;
            position: relative;
            margin-bottom: 10px;
            &::after {
                content: "";
                height: 70%;
                width: 25px;
                left: 10px;
                top: 5px;
                position: absolute;
                background-color: white;
                -webkit-mask-size: contain;
                mask-size: contain;
                -webkit-mask-position: center;
                mask-position: center;
                -webkit-mask-repeat: no-repeat;
                mask-repeat: no-repeat;
                mask-image: url("../resources/svg/paper-plane-1.svg");
            }
            &-link:hover {
                transition: all .5s ease-in-out;
                text-decoration: underline;
            }
            &:nth-of-type(1) {
                &::after {
                    mask-image: url("../resources/svg/facebook.svg");
                }
            }
            &:nth-of-type(2) {
                &::after {
                    mask-image: url("../resources/svg/phone.svg");
                }
            }
            &:nth-of-type(3) {
                &::after {
                    mask-image: url("../resources/svg/email.svg");
                }
            }
            &:nth-of-type(4) {
                &::after {
                    mask-image: url("../resources/svg/location-1.svg");
                }
            }
        }
    }
}