.calendar-select {
    // background-color: yellow;
    align-content: flex-end;
    margin-bottom: 15px;
}

.tableHeader {
    border-bottom: 1px solid gray;
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    height: 75px;
    .card-header {
        text-align: center;
        background: white;
        border: none;
    }
    button {
        border: none;
        // margin: 5px;
        outline: none;
        background-color: white;
        &:hover {
            font-size: 1.5rem;
            background-color: whitesmoke;
        }
    }
}

.calendar {
    // table-layout: fixed;
    table-layout: fixed;
    width: 100%;
}

thead {
    tr {
        // display: grid;
        // grid-template-columns: repeat(7, 1fr);
        text-align: center;
        font-size: 1.125rem;
    }
}

#calendarBody {
    tr {
        td {
            text-align: end;
            border: 1px solid gray;
            height: 100px;
            width: 100px;
            background-color: white;
            box-sizing: border-box;
            padding-right: 2%;
            &:hover {
                background-color: whitesmoke;
                transition: 250ms ease-in-out;
            }
        }
    }
}

td.todayDate {
    background-color: rgb(220, 228, 228);
    color: white;
}