//Font style
$font-style-main: 'Ubuntu',
neuton-regular;
$font-style-txt: 'Ubuntu',
sans-serif;
$font-style-header: 'Inter',
sans-serif;
;
//Font Sizes
$font-XXlrg: 5rem; //80px
$font-Xlrg: 2.5rem; //40px
$font-lrg: 1.875rem; //30px
$font-med: 1.125rem; //18px
$font-sm: 0.9375rem; // 15px
//colors
$pink1: #faa2b2;
$pink2: #FFA3AD;
$pinkBG1: #F05F79;
$grayBG1: rgba(128, 128, 128, 0.250);
$grayBG2: rgba(220, 220, 220, 0.25);
$font-color-black: #222222;
$font-color-gray: #5a5a5a;
$font-color-pink: #bf2441;
$font-color-white: #ffffff;